.card-testimonial {
    text-align: center;
}

.card-testimonial .card-avatar {
    border-radius: 50%;
    width: calc(10 * 1rem);
    height: calc(10 * 1rem);
}

.card-testimonial .card-quote cite {
    display: block;
    padding-top: calc(1 * 1rem);
    color: var(--color-primary);
}

